<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Spring calculator</h1>
<form action="#" th:action="@{/calculator}" th:object="${calculator}" method="post">
    First number: <input type="number" th:field="*{number1}" /><br />
    Operation: <select th:field="*{operation}">
    <option th:value="'+'" th:text="'Plus'"></option>
    <option th:value="'-'" th:text="'Minus'"></option>
    <option th:value="'*'" th:text="'Times'"></option>
    <option th:value="'/'" th:text="'Divide by'"></option>
</select><br />
    Second number: <input type="number" th:field="*{number2}" /><br />
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>